ENV=development
# ENV=production

WEB_PORT=8080

# 開発DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# 本番DB
# CLOUD_SQL_INSTANCE_CONNECTION_NAME=cloud_sql_instance_connection_name
# CLOUD_SQL_DB=cloud_sql_db
# CLOUD_SQL_USER=cloud_sql_user
# CLOUD_SQL_PASSWORD=cloud_sql_password
# CLOUD_SQL_USER_KEY_JSON=cloud_sql_user_key_json

JWT_SECRET=jwt_secret

TZ=UTC
